.profile__about {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 0 0 0 30px;
    align-self: flex-start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}

@media screen and (max-width: 800px) {
    .profile__about {
        text-align: center;
        margin: 14px 0 0 0;
    }
}

@media screen and (max-width: 443px) {
    .profile__about {
        font-size: 14px;
        line-height: 17px;
        margin: 8px 0 0 26px;
        max-width: 220px;
    }
}