.popup__edit-title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 34px 86px 45px 30px;
    max-width: 84%;
    color: #000;
}

@media screen and (max-width: 515px) {
    .popup__edit-title {
        font-size: 18px;
        line-height: 22px;
        margin: 28px 24px 70px;
        padding-bottom: 4px;
    }
}