.popup__save-button {
    border: 0;
    width: 84%;
    height: 50px;
    background-color: rgba(0,0,0,1);
    color: #fff;
    border-radius: 2px;
    margin: 0 30px 37px;
    cursor: pointer;
    opacity: 1;
    transition: .2s ease-in-out;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.popup__save-button:hover {
    background-color: rgba(0,0,0,.8);
}

@media screen and (max-width: 515px) {
    .popup__save-button {
        margin: 0 20px 25px;
        font-size: 14px;
        line-height: 17px;
    }
}