.profile__info {
    margin: 22px 0 4px 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 410px;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .profile__info {
        max-width: 450px;
        justify-items: center;
        text-align: center;
     
    }
}

@media screen and (max-width: 400px) {
    .profile__info {
        max-width: 266px;
    }
}